.mainContainer {
  flex: 1;
  padding: 25px;

  .searchInput {
    margin-bottom: 20px;
    background-color: #cccccc;
  }

  .searchButton {
    width: 100%;
  }

  .userContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #cccccc;
    border-radius: 4px;
  }

  .repoContainer {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    height: 100px;
    background-color: #cccccc;
    border-radius: 4px;

    .starredContainer {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: row;
    }
  }
}
